.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-wrap {
  padding: 2rem;
  border: none!important;
  box-shadow: 0 0 10px rgba(0,0,0, .15);
}

.order-items .product-price {
  margin-right: .5rem;
}

.order-items .product-card {
  display: flex;
  margin: 2rem 0;
  padding: 1rem;

  border: 1px solid #eee;
  /* box-shadow: 0 0 10px rgba(0,0,0, .15); */
}

.order-shipping-details .card {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0, .15);
}

.order-items .product-image {
  width: 100px;
}

.order-items .product-image img {
  display: block;
  width: 100%;
}
